---
title: About
component: AboutPage
---
h2 Profile
    p
      | I am a creative full stack developer, dedicated to the intersection of technology, art and design. I can build responsive web applications, and have spent long hours designing in both digital and analog environments. My passion lies in contemporary Art and Design, and I'm looking for web development opportunities that will allow me to integrate my creative background to execute impactful ideas.
    span.cv-fill
    h2 Tech Skills
    p
      | JavaScript, D3, Ruby, Rails, HTML/CSS, Angular, jQuery, Jasmine, PostgreSQL, MySQL, Git, Agile
    span.cv-fill
    h2 Technical Experience
    p Software Engineer, Cengage Learning -- 2015
    p
      | General Assembly Web Development Immersive program -- 2015
      | Built and deployed three web based applications
    p
      | Cranbrook Academy of Art, MFA
      | Learned design fundamentals while producing studio design objects -- 2013
    span.cv-fill
    h2 Projects
    h4
      a(href='http://four-Walls-App.herokuapp.com', title='four walls link') Four Walls
    p  An image sharing platform for creative projects using ruby on rails
    h4
      a(href='http://lookout800.github.io/Soap_Stone_App/#/', title='soap stone link') SoapStone
    p
      | A research tool built for querying museum collections, and creating personal feeds
    span.cv-fill
    h2 Design Experience
    p
      | Harvard University Ceramics, Studio Technician            2014 - 2015
      | Manage Studio Facility, Interns, and Student Experience
    p
      | Artist Assistant – Anders Ruhwald, Artist-in-Residence, Cranbrook     2013 - 2014
      | Curatorial Assistant to Anders Ruhwald
      | Production of exhibitions for Philadelphia Clay Art Center
      | Production of design studio objects with artist
    p
      | Apprentice – Toshiko Takaezu Studio,              2008 - 2010
      | Managed studio and collection for international Artist,
      | Produced museum correspondence, including the Okinawa Prefectural Museum
      | Production of design studio objects with artist
    span.cv-fill
    h2 Education
    ul
      li General Assembly, Web Development Immersive,            2015
      li Cranbrook Academy of Art, MFA, Ceramics,              2013
      li Skidmore College, BA, French Lit, Studio Art,               2007
    a#bottom(href='', title='') Bottom
    span.cv-fill(id='')
    h2 Interests
    ul
      li Web development
      li design
      li sailing
      li French lit
      li making pottery
