/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

:root {
  --brand-color: #898F96;
}

.Header {
  background: var(--white-base);
  color: var(--gray-darker);
}

.Header-container {
  margin: 0 auto;
  max-width: 1000px;
  max-width: var(--max-content-width);
}

.Header-brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.Header-brandTxt {
  margin-left: 10px;
}

.Header-nav {
  margin-top: 7px;
  text-align: center;
  border-bottom: 2px dotted black;
}

.Header-banner {
  text-align: center;
}

.Header-bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: lighter;
  font-size: 4em;
  line-height: 1em;
}

.Header-bannerDesc {
  padding: 0;
  color: var(--gray-darker);
  font-size: 1.25em;
  margin: 0;
}
